<a href="https://colab.research.google.com/github/drusho/data_analysis/blob/gh-pages/Analyzing_CIA_Factbook_Data_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Practicing SQL using CIA Factbook Data___

In [ ]:
# install ipython-sql to work with SQL
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.3.23)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from prettytable->ipython-sql) (53.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.7.0)

In [ ]:
%%capture
%load_ext sql
%sql sqlite:////content/CIA_World_Factbook_data.db

In [ ]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

 * sqlite:////content/CIA_World_Factbook_data.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

### Here are the descriptions for some of the columns:

<p>name - The name of the country.
<p>area - The total land and sea area of the country.
<p>population - The country's population.
<p>population_growth- The country's population growth as a percentage.
<p>birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
<p>death_rate - The country's death rate, or the number of death a year per 1,000 people.
<p>area- The country's total area (both land and water).
<p>area_land - The country's land area in square kilometers.
<p>area_water - The country's waterarea in square kilometers.
<p>Let's start by calculating some summary statistics and see what they tell us.

# Summary Statistics

In [ ]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
  FROM facts;

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

In [ ]:
# Find countries with min_population

%%sql
SELECT *
  FROM facts
  WHERE population == (SELECT MIN(population)
                                            FROM facts
                                          );

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [ ]:
# Find countries with max_population
%%sql
SELECT *
  FROM facts
  WHERE population == (SELECT MAX(population)
                                            FROM facts
                                          );

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

In [ ]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
  FROM facts
  WHERE name != 'World' ;

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

In [ ]:
%%sql 

SELECT ROUND(AVG(population),2) 'Avg Pop.', ROUND(AVG(area),2) 'Avg Area'
FROM facts
WHERE name <> 'World'

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(32242666.57, 555093.55)]

In [ ]:
%%sql
SELECT *
FROM facts 
WHERE  population > (SELECT AVG(population)
                                          FROM facts
                                        WHERE name <> 'World')
    AND area < (SELECT AVG(area)
                            FROM facts
                          WHERE name <> 'World');

 * sqlite:////content/CIA_World_Factbook_data.db
   sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]