<a href="https://colab.research.google.com/github/drusho/100daysofcode/blob/main/Exploring_Car_Sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Ebay Car Sales Data

Data comes from a modified csv containing informaiton on used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

<br>

### __Project Goal:__
- Clean raw data and analyze the used car listings.
<br>

### __Results__

In [74]:
# Fetch a single <1MB file using the raw GitHub URL.
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/drusho/100daysofcode/main/csv_files/Exploring_Ebay_Car_Sales_Data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 9392k  100 9392k    0     0  13.4M      0 --:--:-- --:--:-- --:--:-- 13.4M

In [75]:
# Read in the data
import pandas as pd
import numpy as np


df = pd.read_csv('Exploring_Ebay_Car_Sales_Data.csv', encoding='Latin-1')
df.head()

           dateCrawled  ...             lastSeen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

#### __Description of Column Headings__
|Column  |Description |
|:-- |:-- |
|*dateCrawled* | When this ad was first crawled. All field-values are taken from this date. |
|*name*|Name of the car |
|*seller*|Whether the seller is private or a dealer.|
|*offerType*|The type of listing|
|*price*|The price on the ad to sell the car.|
|*abtest*|Whether the listing is included in an A/B test.
|*vehicleType*|The vehicle Type.|
|*yearOfRegistration*|The year in which the car was first registered.|
|*gearbox*|The transmission type.|
|*powerPS*|The power of the car in PS.|
|*model*|The car model name.|
|*kilometer*|How many kilometers the car has driven.|
|*monthOfRegistration*|The month in which the car was first registered.|
|*fuelType*|What type of fuel the car uses.|
|*brand*|The brand of the car.|
|*notRepairedDamage|If the car has a damage which is not yet repaired.|
|*dateCreated*|The date on which the eBay listing was created.|
|*nrOfPictures*|The number of pictures in the ad.|
|*postalCode*|The postal code for the location of the vehicle.|
|*lastSeenOnline*|When the crawler saw this ad last online.|

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

### __* Initial Observations of the Raw Data__
- The dataset contains 20 columns.  
- The majority of the data is stored as strings. 
- A few columns contain null values (ex. *vehicleType, gearbox, model*)
- None of the columns have more than ~20% null values (based off 49,999 entries compared to non-null counts)
- There are some columns that contain dates stored as strings.

### **Clean Columns**
- Camelcase to snakecase.
- Renaming some columns so that the headings reflect the data they contain

In [78]:
# convert the column names from camelcase to snakecase

column_names = []
for column in df.columns:
  column_names.append(column.lower())
df.columns = column_names

df.columns

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'yearofregistration', 'gearbox', 'powerps', 'model',
       'odometer', 'monthofregistration', 'fueltype', 'brand',
       'notrepaireddamage', 'datecreated', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [79]:
# rename some column names to increase fluency

df.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']

df.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen'],
      dtype='object')

           datecrawled  ...             lastseen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]